.about-section {
  color: white;
  background-color: #000;
  padding: 50px 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.about-heading {
  user-select: none;
  font-size: 4rem; /* Increase size slightly */
  margin-bottom: 20px;
  color: #e63946;
  text-decoration: none; /* Remove the default underline */
  position: relative;
  letter-spacing: 3px; /* Add spacing between letters */
  font-weight: bold;
  text-transform: uppercase; /* Make the text uppercase */
  background: linear-gradient(45deg, #e63946, #00e6f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.about-heading::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #e63946;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

.about-heading:hover::after {
  width: 150px; /* Increase width on hover */
}

.about-heading:hover {
  color: #fff; /* On hover, transition to white */
  letter-spacing: 5px; /* Slightly increase letter spacing on hover */
  background: linear-gradient(45deg, #f8f005, #e63946); /* Change gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
}

.profile-picture {
  width: 250px;
  height: 250px;
}

.profile-blurb {
  /* flex: 1; */
  font-size: 1.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skills-item {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  border: 2px solid rgba(230, 57, 70, 0.3);
}

.skills-item:hover {
  transform: translateY(-10px);
  border-color: #e63946;
}

.skills-item img {
  max-width: 60px;
  margin-bottom: 10px;
}

.skills-item-name {
  font-size: 1.1rem;
  color: #fff;
}
