.contact-section {
  padding: 50px 20px;
  text-align: center;
  color: white;
  /* background-color: #000; */
  position: relative;
  min-height: 100vh;
}

.contact-heading {
  user-select: none;
  font-size: 4rem; /* Increase size slightly */
  margin-bottom: 20px;
  color: #e63946;
  text-decoration: none; /* Remove the default underline */
  position: relative;
  letter-spacing: 3px; /* Add spacing between letters */
  font-weight: bold;
  text-transform: uppercase; /* Make the text uppercase */
  background: linear-gradient(45deg, #e63946, #00e6f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.contact-heading::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #e63946;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

.contact-heading:hover::after {
  width: 150px; /* Increase width on hover */
}

.contact-heading:hover {
  color: #fff; /* On hover, transition to white */
  letter-spacing: 5px; /* Slightly increase letter spacing on hover */
  background: linear-gradient(45deg, #f8f005, #e63946); /* Change gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-subtext {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ccc;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.contact-input {
  padding: 15px;
  font-size: 1rem;
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: white;
}

.contact-input::placeholder {
  color: #888;
}

.message-input {
  height: 150px;
}

.submit-btn {
  padding: 15px;
  font-size: 1rem;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #00e6f6;
}

/* Footer Styles */
.footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  position: relative;
  /* background-color: #000; */
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: #ccc;
}

.footer-link {
  color: #e63946;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-link:hover {
  color: #00e6f6;
}

/* Scroll to Top Arrow */
.scroll-up-arrow {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e63946;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-up-arrow:hover {
  background-color: #00e6f6;
}

.arrow-icon {
  color: white;
  font-size: 2rem;
}
